$background-color: #fff;
$nav-bgcolor: #c8d6e5;
// Btn success
$btn-border: #daf1ff;
$btn-bgcolor: #1c6288;
$btn-bgcolor-hover: #13445e;
// Btn secondary
$btn-sec: #222f3e;
// Register
$register: #13445e;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}