$background-color: #fff;
$nav-bgcolor: #c8d6e5;
// Btn success
$btn-border: #daf1ff;
$btn-bgcolor: #1c6288;
$btn-bgcolor-hover: #13445e;
// Btn secondary
$btn-sec: #222f3e;
// Register
$register: #13445e;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    background: url(../../assets/background.jpeg) no-repeat center center fixed;
    background-size: cover;
    overflow-y: hidden;
}

.main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.modal-content {
    background-color: $background-color;
    opacity: .8;
    padding: 0 18px;
    border-radius: 10px;
}

.headtext {
    padding: 5px 0 25px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group input {
    height: 42px;
    border-radius: 5px;
    font-size: 18px;
}

.form-input[type=submit] {
    width: 40%;
    margin: 5px 0 25px;
}

.btn-success {
    background-color: $btn-bgcolor;
    font-size: 19px;
    border-radius: 5px;
    padding: 7px 14px;
    border: 1px solid $btn-border;
}

.btn-success:hover {
    background-color: $btn-bgcolor-hover;
    border: 1px solid $btn-border;
}

.btn-secondary {
    background-color: $btn-sec;
}

.btn-outline-secondary {
    color: $btn-sec;
}

.register {
    padding: 5px 0 25px;
}

.register a {
    color: $register;
}

.scroll-post {
    height: 93vh;
    overflow-y: scroll;
}

.main-bgcolor {
    background-color: $background-color;
    opacity: 75%;
}

.nav-bgcolor {
    background-color: $nav-bgcolor;
    opacity: 75%;
}

.modal-post {
    border-radius: 9px;
    background-color: $background-color;
    opacity: none;
}