@media (min-width: 1270px) {
    .profile-but {
        display: none;
    }
}

.profile-but {
    padding: 0;
}

.profile-pic {
    width: 150px;
    height: 150px;
}

@media (max-width: 1270px) {
    .menu-parent {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 25vh 75vu;
    }

    .profile-but {
        height: 50px;
        width: 50px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .nav-menu {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .profile-pic {
        width: 20px;
        height: 250px;
        align-self: center;
        max-width: 25%;
    }
}

@media (max-width: 990px) {
    .profile-pic {
        max-width: 35%;
    }
}

@media (max-width: 767px) {
    .profile-pic {
        max-width: 45%;
    }
}

@media (max-width: 500px) {
    .profile-pic {
        max-width: 55%;
    }
}

@media (max-width: 450px) {
    .profile-pic {
        max-width: 65%;
    }
}

@media (max-width: 390px) {
    .profile-pic {
        width: 50%;
        height: 50%;
        justify-self: center;
    }
}